superuser/Web References/DALService/DALWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://202.114.18.229:2000" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://202.114.18.229:2000" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://202.114.18.229:2000">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shoperId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocListResult" type="tns:ArrayOfDocument" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Document">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ShoperId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sendWay" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaperType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Copies" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintMode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cost" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SureTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShopName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnsureDownload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnsureDownloadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnsureDownloadResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpTimeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="money" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpMoneyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuperCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="check" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuperCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SuperCheckResult" type="tns:ArrayOfDocument" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnsureCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="check" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnsureCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnsureCheckResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocList" />
  </wsdl:message>
  <wsdl:message name="GetDocListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocListResponse" />
  </wsdl:message>
  <wsdl:message name="EnsureDownloadSoapIn">
    <wsdl:part name="parameters" element="tns:EnsureDownload" />
  </wsdl:message>
  <wsdl:message name="EnsureDownloadSoapOut">
    <wsdl:part name="parameters" element="tns:EnsureDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="UpTimeSoapIn">
    <wsdl:part name="parameters" element="tns:UpTime" />
  </wsdl:message>
  <wsdl:message name="UpTimeSoapOut">
    <wsdl:part name="parameters" element="tns:UpTimeResponse" />
  </wsdl:message>
  <wsdl:message name="UpMoneySoapIn">
    <wsdl:part name="parameters" element="tns:UpMoney" />
  </wsdl:message>
  <wsdl:message name="UpMoneySoapOut">
    <wsdl:part name="parameters" element="tns:UpMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="SuperCheckSoapIn">
    <wsdl:part name="parameters" element="tns:SuperCheck" />
  </wsdl:message>
  <wsdl:message name="SuperCheckSoapOut">
    <wsdl:part name="parameters" element="tns:SuperCheckResponse" />
  </wsdl:message>
  <wsdl:message name="EnsureCheckSoapIn">
    <wsdl:part name="parameters" element="tns:EnsureCheck" />
  </wsdl:message>
  <wsdl:message name="EnsureCheckSoapOut">
    <wsdl:part name="parameters" element="tns:EnsureCheckResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="CustomerId" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetDocListHttpGetIn">
    <wsdl:part name="shoperId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDocument" />
  </wsdl:message>
  <wsdl:message name="EnsureDownloadHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="state" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnsureDownloadHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UpTimeHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="time" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UpMoneyHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="money" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpMoneyHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SuperCheckHttpGetIn">
    <wsdl:part name="check" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SuperCheckHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDocument" />
  </wsdl:message>
  <wsdl:message name="EnsureCheckHttpGetIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="check" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnsureCheckHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="CustomerId" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetDocListHttpPostIn">
    <wsdl:part name="shoperId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDocument" />
  </wsdl:message>
  <wsdl:message name="EnsureDownloadHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="state" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnsureDownloadHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UpTimeHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="time" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="UpMoneyHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="money" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpMoneyHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SuperCheckHttpPostIn">
    <wsdl:part name="check" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SuperCheckHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDocument" />
  </wsdl:message>
  <wsdl:message name="EnsureCheckHttpPostIn">
    <wsdl:part name="ID" type="s:string" />
    <wsdl:part name="check" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnsureCheckHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="DALWebServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocList">
      <wsdl:input message="tns:GetDocListSoapIn" />
      <wsdl:output message="tns:GetDocListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnsureDownload">
      <wsdl:input message="tns:EnsureDownloadSoapIn" />
      <wsdl:output message="tns:EnsureDownloadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpTime">
      <wsdl:input message="tns:UpTimeSoapIn" />
      <wsdl:output message="tns:UpTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpMoney">
      <wsdl:input message="tns:UpMoneySoapIn" />
      <wsdl:output message="tns:UpMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuperCheck">
      <wsdl:input message="tns:SuperCheckSoapIn" />
      <wsdl:output message="tns:SuperCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnsureCheck">
      <wsdl:input message="tns:EnsureCheckSoapIn" />
      <wsdl:output message="tns:EnsureCheckSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DALWebServiceHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocList">
      <wsdl:input message="tns:GetDocListHttpGetIn" />
      <wsdl:output message="tns:GetDocListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnsureDownload">
      <wsdl:input message="tns:EnsureDownloadHttpGetIn" />
      <wsdl:output message="tns:EnsureDownloadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpTime">
      <wsdl:input message="tns:UpTimeHttpGetIn" />
      <wsdl:output message="tns:UpTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpMoney">
      <wsdl:input message="tns:UpMoneyHttpGetIn" />
      <wsdl:output message="tns:UpMoneyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SuperCheck">
      <wsdl:input message="tns:SuperCheckHttpGetIn" />
      <wsdl:output message="tns:SuperCheckHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EnsureCheck">
      <wsdl:input message="tns:EnsureCheckHttpGetIn" />
      <wsdl:output message="tns:EnsureCheckHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DALWebServiceHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocList">
      <wsdl:input message="tns:GetDocListHttpPostIn" />
      <wsdl:output message="tns:GetDocListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnsureDownload">
      <wsdl:input message="tns:EnsureDownloadHttpPostIn" />
      <wsdl:output message="tns:EnsureDownloadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpTime">
      <wsdl:input message="tns:UpTimeHttpPostIn" />
      <wsdl:output message="tns:UpTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpMoney">
      <wsdl:input message="tns:UpMoneyHttpPostIn" />
      <wsdl:output message="tns:UpMoneyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SuperCheck">
      <wsdl:input message="tns:SuperCheckHttpPostIn" />
      <wsdl:output message="tns:SuperCheckHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnsureCheck">
      <wsdl:input message="tns:EnsureCheckHttpPostIn" />
      <wsdl:output message="tns:EnsureCheckHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DALWebServiceSoap" type="tns:DALWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://202.114.18.229:2000/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocList">
      <soap:operation soapAction="http://202.114.18.229:2000/GetDocList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnsureDownload">
      <soap:operation soapAction="http://202.114.18.229:2000/EnsureDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpTime">
      <soap:operation soapAction="http://202.114.18.229:2000/UpTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpMoney">
      <soap:operation soapAction="http://202.114.18.229:2000/UpMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperCheck">
      <soap:operation soapAction="http://202.114.18.229:2000/SuperCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnsureCheck">
      <soap:operation soapAction="http://202.114.18.229:2000/EnsureCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DALWebServiceSoap12" type="tns:DALWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://202.114.18.229:2000/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocList">
      <soap12:operation soapAction="http://202.114.18.229:2000/GetDocList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnsureDownload">
      <soap12:operation soapAction="http://202.114.18.229:2000/EnsureDownload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpTime">
      <soap12:operation soapAction="http://202.114.18.229:2000/UpTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpMoney">
      <soap12:operation soapAction="http://202.114.18.229:2000/UpMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperCheck">
      <soap12:operation soapAction="http://202.114.18.229:2000/SuperCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnsureCheck">
      <soap12:operation soapAction="http://202.114.18.229:2000/EnsureCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DALWebServiceHttpGet" type="tns:DALWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocList">
      <http:operation location="/GetDocList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnsureDownload">
      <http:operation location="/EnsureDownload" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpTime">
      <http:operation location="/UpTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpMoney">
      <http:operation location="/UpMoney" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperCheck">
      <http:operation location="/SuperCheck" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnsureCheck">
      <http:operation location="/EnsureCheck" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DALWebServiceHttpPost" type="tns:DALWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocList">
      <http:operation location="/GetDocList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnsureDownload">
      <http:operation location="/EnsureDownload" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpTime">
      <http:operation location="/UpTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpMoney">
      <http:operation location="/UpMoney" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperCheck">
      <http:operation location="/SuperCheck" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnsureCheck">
      <http:operation location="/EnsureCheck" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DALWebService">
    <wsdl:port name="DALWebServiceSoap" binding="tns:DALWebServiceSoap">
      <soap:address location="http://localhost:23640/DALWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="DALWebServiceSoap12" binding="tns:DALWebServiceSoap12">
      <soap12:address location="http://localhost:23640/DALWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="DALWebServiceHttpGet" binding="tns:DALWebServiceHttpGet">
      <http:address location="http://localhost:23640/DALWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="DALWebServiceHttpPost" binding="tns:DALWebServiceHttpPost">
      <http:address location="http://localhost:23640/DALWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>